body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,
    "Roboto,Trebuchet MS,Helvetica,Arial,sans-serif", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../src/img/background-login.jpg) no-repeat left center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Scrollbar Styled */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background-color: #0c0c0c;
}

::-webkit-scrollbar-track {
  background: #0c0c0c;
}

::-webkit-scrollbar-thumb {
  background: #feda3e;
  border-radius: 24px;
  border: 4px #0c0c0c solid;
}

::-webkit-scrollbar-thumb:hover {
  background: #ceb124;
}
