body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto,Trebuchet MS,Helvetica,Arial,sans-serif',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../src/img/background-login.jpg) no-repeat left center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{
  width: 15px;
  height: 15px;
  background-color: rgb(49, 49, 49);
}

::-webkit-scrollbar-track{
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb{
  background: #f8b817;
  border-radius: 15px;
  border: 5px rgb(0, 0, 0) solid 
}

::-webkit-scrollbar-thumb:hover{
  background: #f7c548;
}
