/* Loader */
.loader {
  text-align: center;
  vertical-align: middle;
  width: 20%;
}

/* Details */
.fondo-details {
  background-color: rgb(22, 22, 22);
}

/* Contenedor Estadisticas */
.fondo-est {
  background-color: rgba(0, 0, 0, 0.753);
  color: #f7bd2a;
  border-radius: 4px;
  margin-top: 50px;
}
.margen-sup {
  padding-top: 25px;
  padding-bottom: 25px;
}

.margen {
  padding-top: 15px;
}
.margen-inf {
  padding-bottom: 25px;
}

/* Error */
.error-search {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.753);
  padding-top: 20px;
}

.error-text {
  width: 100%;
  color: #f7bd2a;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}

.error-img {
  margin: auto;
  display: block;
  width: 180px;
}
